#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_CPUHOG
    bool "CPU Hog"
    default n
    ---help---
        Enable the cpuhog example

if EXAMPLES_CPUHOG
endif
