#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_CPUHOG
    bool "CPU hog"
    default n
    ---help---
        Enable the cpuhog example

if EXAMPLES_CPUHOG

config EXAMPLES_CPUHOG_STACKSIZE
	int "CPU hog stack size"
	default 2048

config EXAMPLES_CPUHOG_PRIORITY
	int "CPU hog task priority"
	default 50

endif
