#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SYSTEM_NTPC
	tristate "NTP Daemon Commands"
	default n
	select NETUTILS_NTPCLIENT
	depends on NET_UDP
	---help---
		Enable the NTP client example. This example provides a command-line
		interface to manage the NTP client for time synchronization.

if SYSTEM_NTPC

config SYSTEM_NTPC_PRIORITY
	int "NTPC task priority"
	default 100

config SYSTEM_NTPC_STACKSIZE
	int "NTPC stack size"
	default DEFAULT_TASK_STACKSIZE

endif
