#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config INTERPRETERS_MICROPYTHON
	bool "Micro Python support"
	default n
	---help---
		Enable support for the Micro Python interpreter

if INTERPRETERS_MICROPYTHON

config INTERPRETERS_MICROPYTHON_URL
	string "URL where Micro Python can be downloaded"
	default "https://github.com/micropython/micropython/archive"

config INTERPRETERS_MICROPYTHON_VERSION
	string "Version number"
	default "1.3.8"

config INTERPRETERS_MICROPYTHON_APPNAME
	string "Executable name"
	default "micropython"
	depends on NSH_BUILTIN_APPS

config INTERPRETERS_MICROPYTHON_STACKSIZE
	int "Interpreter stack size"
	default 2048
	depends on NSH_BUILTIN_APPS

config INTERPRETERS_MICROPYTHON_PRIORITY
	int "Interpreter priority"
	default 100
	depends on NSH_BUILTIN_APPS

config INTERPRETERS_MICROPYTHON_PROGNAME
	string "Program name"
	default "micropython"
	depends on BUILD_KERNEL

endif # INTERPRETERS_MICROPYTHON
