#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig INTERPRETERS_MICROPYTHON
	tristate "Micropython Interpreter"
	default n
  select SERIAL_TERMIOS
  select ARCH_SETJMP_H

if INTERPRETERS_MICROPYTHON

config INTERPRETERS_MICROPYTHON_PRIORITY
	int "Micropython interpreter priority"
	default 100

config INTERPRETERS_MICROPYTHON_STACKSIZE
	int "Micropython interpreter stack size"
	default 8192

config INTERPRETERS_MICROPYTHON_HEAPSIZE
	int "Micropython interpreter default heap size"
	default 65536
	---help---
	Default heapsize of Micropython. Heapsize can be overriden on the command line.


config INTERPRETERS_MICROPYTHON_SOCKET
  bool "Enable Micropython sockets"
  default n

config INTERPRETERS_MICROPYTHON_USSL
  bool "Enable Micropython encryption"
  default n

if INTERPRETERS_MICROPYTHON_USSL

config INTERPRETERS_MICROPYTHON_MBEDTLS
  bool "Switch to MBEDTLS library for Micropython encryption"
  default n
  ---help---
    By default Micropython uses the AXTLS library uses less code space but
    does not support all modern algorithms
    The MBEDTLS library supports more algorithms but takes lots of code space

endif # INTERPRETERS_MICROPYTHON_USSL

endif # INTERPRETERS_MICROPYTHON
