#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_CCTYPE
	tristate "Verify C++ cctype operations"
	default n
	---help---
		Enable the a simple test to verify C++ cctype operations.
