#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "File System Utilities"

source "$APPSDIR/fsutils/inifile/Kconfig"
source "$APPSDIR/fsutils/mksmartfs/Kconfig"
source "$APPSDIR/fsutils/passwd/Kconfig"

endmenu # FS Utilities
