#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_UAVCAN
	bool "UAVCAN example"
	default n
	depends on CANUTILS_LIBUAVCAN
	---help---
		Enable the UAVCAN example

if EXAMPLES_UAVCAN

config EXAMPLES_UAVCAN_NODE_MEM_POOL_SIZE
	int "Node Memory Pool Size"
	default 4096
	---help---
		Specifies the node's memory pool size

config EXAMPLES_UAVCAN_NODE_ID
	int "Node ID"
	default 1
	range 1 127
	---help---
		Specifies the node's ID

config EXAMPLES_UAVCAN_NODE_NAME
	string "Node Name"
	default "org.nuttx.apps.examples.uavcan"
	---help---
		Specifies the node's name

endif
