#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NETUTILS_SMTP
	bool "SMTP"
	default n
	depends on NET_IPv4
	depends on NET_TCP
	---help---
		Enable support for SMTP.

if NETUTILS_SMTP
endif
