[submodule "examples/sx1262_test"]
	path = examples/sx1262_test
	url = https://github.com/lupyuen/sx1262_test
[submodule "examples/lorawan_test"]
	path = examples/lorawan_test
	url = https://github.com/lupyuen/lorawan_test
[submodule "examples/tinycbor_test"]
	path = examples/tinycbor_test
	url = https://github.com/lupyuen/tinycbor_test
[submodule "examples/rust_test"]
	path = examples/rust_test
	url = https://github.com/lupyuen/rust_test
[submodule "examples/bl602_adc_test"]
	path = examples/bl602_adc_test
	url = https://github.com/lupyuen/bl602_adc_test
