*.a
*.dbo
*.dba
*.adb
*.asm
*.dSYM
*.exe
*.gcno
*.gcda
*.hobj
*.i
*.inf
*.lib
*.lst
*.o
*.wo
*.obj
*.rel
*.src
*.swp
*.sym
*.su
*.map
*~
.built
.context
.depend
.kconfig
*.lock
/bin
/bin_debug
/boot_romfsimg.h
/external
/Kconfig
/romfs.img
/staging
/symtab_apps.c
/wasm
cscope.out
Make.dep
.context
# nuttx/$(TOPDIR)/Makefile.[unix|win]::$(DIRLINKS_EXTERNAL_DIRS)
.dirlinks
.vscode
.DS_Store
build
.ccls-cache
compile_commands.json
.aider*
.clang-format
.cache
