#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SYSTEM_POPEN
	bool "popen()/pclose() Functions"
	default n
	select SCHED_WAITPID
	depends on NSH_LIBRARY && !BUILD_KERNEL
	---help---
		Enable support for the popen() and pclose() interfaces.
		This will support execution of NSH commands from C code with
		pipe communications with the shell.

if SYSTEM_POPEN

config SYSTEM_POPEN_STACKSIZE
	int "Shell stack size"
	default 2048 if !ARCH_SIM
	default 4096 if ARCH_SIM
	---help---
		The size of stack allocated for the shell.

		NOTE: I needed to set the stack size quite large to get this example
		working on the simulated target (perhaps because of the 64-bit
		stack?  Or perhaps that is a sneak call into the host libc that I
		have not caught).  I assume that a smaller stack would be okay on
		real hardware, but I have not yet verified that.

config SYSTEM_POPEN_PRIORITY
	int "Shell priority"
	default 100
	---help---
		The priority of the shell.

endif
