#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig MATH_LIBTOMMATH
	bool "LibTomMath MPI Math Library"
	default n
	---help---
		LibTomMath, a free open source portable number theoretic
		multiple-precision integer (MPI) library written entirely in C

if MATH_LIBTOMMATH

config LIBTOMMATH_VERSION
	string "LibTomMath Version"
	default "1.2.0"

menuconfig LIBTOMMATH_DEMOS
	bool "LibTomMath MPI Math Library Demos"
	default n
	---help---
		LibTomMath demo and test applications.

if LIBTOMMATH_DEMOS

config LIBTOMMATH_TEST
	tristate "LibTomMath Test"
	default n
	---help---
		Demo test application for LibTomMath

if LIBTOMMATH_TEST

config LIBTOMMATH_TEST_PROGNAME
	string "Test program name"
	default "tommath_test"
	---help---
		LibTomMath test application name

config LIBTOMMATH_TEST_PRIORITY
	int "Test application priority"
	default 100

config LIBTOMMATH_TEST_STACKSIZE
	int "Test application stack size"
	default DEFAULT_TASK_STACKSIZE

endif # LIBTOMMATH_TEST

config LIBTOMMATH_MTEST_OPPONENT
	tristate "LibTomMath MTest opponent"
	default n
	---help---
		Demo mtest opponent application for LibTomMath

if LIBTOMMATH_MTEST_OPPONENT

config LIBTOMMATH_MTEST_OPPONENT_PROGNAME
	string "MTest opponent program name"
	default "tommath_mtest_opponent"
	---help---
		LibTomMath mtest opponent application name

config LIBTOMMATH_MTEST_OPPONENT_PRIORITY
	int "MTest opponent application priority"
	default 100

config LIBTOMMATH_MTEST_OPPONENT_STACKSIZE
	int "MTest opponent application stack size"
	default DEFAULT_TASK_STACKSIZE

endif # LIBTOMMATH_MTEST_OPPONENT

config LIBTOMMATH_TIMING
	tristate "LibTomMath Timing"
	default n
	---help---
		Demo timing test application for LibTomMath

if LIBTOMMATH_TIMING

config LIBTOMMATH_TIMING_PROGNAME
	string "Timing program name"
	default "tommath_timing"
	---help---
		LibTomMath test application name

config LIBTOMMATH_TIMING_PRIORITY
	int "Timing application priority"
	default 100

config LIBTOMMATH_TIMING_STACKSIZE
	int "Timing application stack size"
	default DEFAULT_TASK_STACKSIZE

endif # LIBTOMMATH_TIMING

endif # LIBTOMMATH_DEMOS

config LIBTOMMATH_MTEST
	tristate "LibTomMath MPI Math Library Mtest"
	default n
	---help---
		LibTomMath mtest applications for LibTomMath

if LIBTOMMATH_MTEST

config LIBTOMMATH_MTEST_PROGNAME
	string "Mtest program name"
	default "tommath_mtest"
	---help---
		LibTomMath test application name

config LIBTOMMATH_MTEST_PRIORITY
	int "Mtest application priority"
	default 100

config LIBTOMMATH_MTEST_STACKSIZE
	int "Mtest application stack size"
	default DEFAULT_TASK_STACKSIZE

endif # LIBTOMMATH_MTEST

endif # MATH_LIBTOMMATH
