#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config TESTING_HEAP
	tristate "Memory management test"
	default n
	---help---
		Enable the memory management test

if TESTING_HEAP

config TESTING_HEAP_PROGNAME
	string "Program name"
	default "heap"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config TESTING_HEAP_PRIORITY
	int "Task priority"
	default 100

config TESTING_HEAP_STACKSIZE
	int "Stack size"
	default DEFAULT_TASK_STACKSIZE

config TESTING_HEAP_POWEROFF
	bool "Terminate on test completion"
	default n
	depends on BOARDCTL_POWEROFF

endif
