#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NETUTILS_CJSON
	bool "cJSON library (current version)"
	default n
	select LIBC_FLOATINGPOINT
	---help---
		Enables the cJSON library.

if NETUTILS_CJSON

config NETUTILS_CJSON_URL
	string "URL where cJSON library can be downloaded"
	default "https://github.com/DaveGamble/cJSON/archive"

config NETUTILS_CJSON_VERSION
	string "Version number"
	default "1.7.12"

config NETUTILS_CJSON_TEST
	bool "Enable cJSON test"
	default n

if NETUTILS_CJSON_TEST

config CJSON_UNITY_TEST_DIR
	string "cJSON test directory"
	default "/data"

config CJSON_TEST_PRIORITY
	int "task priority"
	default 100

config CJSON_TEST_STACKSIZE
	int "stack size"
	default 102400

config CJSON_NESTING_LIMIT
	int "NESTING_LIMIT"
	default 100

endif # NETUTILS_CJSON_TEST

endif # NETUTILS_CJSON
