#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if NXWIDGETS

config NXGLYPHS_LARGE_ICONS
	bool
	default n

config NXGLYPHS_BACKGROUNDCOLOR
	hex "Background Color"
	default 0x97 if NXWIDGETS_BPP = 8
	default 0x95fa if NXWIDGETS_BPP = 16
	default 0x94bdd7 if NXWIDGETS_BPP = 24 || NXWIDGETS_BPP = 32
	---help---
		Normal background color.  Default: RGB(148,189,215)

endif # NXWIDGETS
