#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_POWERMONITOR
	tristate "LTC4151 powermonitor example"
	default n

if EXAMPLES_POWERMONITOR
endif # EXAMPLES_POWERMONITOR
