#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LSM6DSL_READER
	bool "LSM6DSL reader example"
	default n
	depends on SENSORS_LSM6DSL
	---help---
		Enable the LSM6DSL reader example
