#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config TESTING_MTD_CONFIG_FAIL_SAFE
	tristate "MTD Config fail-safe storage test"
	default n
	depends on MTD_CONFIG_FAIL_SAFE
	select MTD_CONFIG_NAMED
	---help---
		Enable the fail-safe storage test

if TESTING_MTD_CONFIG_FAIL_SAFE

config TESTING_MTD_CONFIG_FAIL_SAFE_PROGNAME
	string "Program name"
	default "mtdconfig_fs_test"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config TESTING_MTD_CONFIG_FAIL_SAFE_MOUNTPT_NAME
	string "MTD driver mount pt"
	default "/dev/mtdnvs_flash"

config TESTING_MTD_CONFIG_FAIL_SAFE_MOUNTPT_MAXNAME
	int "MTD driver mount pt path len"
	default 64

config TESTING_MTD_CONFIG_FAIL_SAFE_FLASH_SECTION_SIZE
	int "MTD flash section size"
	default 4096

config TESTING_MTD_CONFIG_FAIL_SAFE_FLASH_SECTION_COUNT
	int "MTD flash section count"
	default 3

config TESTING_MTD_CONFIG_FAIL_SAFE_PRIORITY
	int "MTD nvs test task priority"
	default 100

config TESTING_MTD_CONFIG_FAIL_SAFE_STACKSIZE
	int "MTD nvs test stack size"
	default 4096

config TESTING_MTD_CONFIG_FAIL_SAFE_VERBOSE
	bool "Verbose output"
	default n

endif
