#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_NXSCOPE
	tristate "nxscope example"
	default n
	depends on LOGGING_NXSCOPE
	---help---
		Enable the nxscope example

if EXAMPLES_NXSCOPE

config EXAMPLES_NXSCOPE_PROGNAME
	string "Program name"
	default "nxscope"

config EXAMPLES_NXSCOPE_PRIORITY
	int "nxscope task priority"
	default 100

config EXAMPLES_NXSCOPE_STACKSIZE
	int "nxscope stack size"
	default DEFAULT_TASK_STACKSIZE

if LOGGING_NXSCOPE_INTF_SERIAL

config EXAMPLES_NXSCOPE_SERIAL_PATH
	string "nxscope serial path"
	default "/dev/ttyUSB0"

config EXAMPLES_NXSCOPE_SERIAL_BAUD
	int "nxscope serial baud"
	default 115200
	---help---
		Ignored if set to 0 (for example for RTT interface)

config EXAMPLES_NXSCOPE_CDCACM
	bool "nxscope CDCACM device support"
	depends on CDCACM
	default n

endif # LOGGING_NXSCOPE_INTF_SERIAL

config EXAMPLES_NXSCOPE_FORCE_ENABLE
	bool "nxscope force enable"
	default n

config EXAMPLES_NXSCOPE_STREAMBUF_LEN
	int "nxscope stream buffer length"
	default 512

config EXAMPLES_NXSCOPE_RXBUF_LEN
	int "nxscope RX buffer length"
	default 32

config EXAMPLES_NXSCOPE_CHARLOG
	bool "nxscope send text message over channel 19"
	default n

config EXAMPLES_NXSCOPE_CRIBUF_LEN
	int "nxscope critical channels buffer length"
	default 32
	depends on LOGGING_NXSCOPE_CRICHANNELS

config EXAMPLES_NXSCOPE_RX_PADDING
	int "nxscope RX padding"
	default 0

config EXAMPLES_NXSCOPE_TIMER
	bool "nxscope use timer to wake up samples thread"
	default n

config EXAMPLES_NXSCOPE_MAIN_INTERVAL
	int "nxscope main interval (microseconds)"
	default 100000
	---help---
		This value is responsible for the frequency at which stream
		frames will be sent and incoming frames will be received.

if EXAMPLES_NXSCOPE_TIMER

config EXAMPLES_NXSCOPE_TIMER_PATH
	string "nxscope timer path"
	default "/dev/timer0"

config EXAMPLES_NXSCOPE_TIMER_SIGNO
	int "nxscope notification signal number"
	default 32

config EXAMPLES_NXSCOPE_TIMER_INTERVAL
	int "nxscope timer interval (microseconds)"
	default 100

endif # EXAMPLES_NXSCOPE_TIMER

endif
