#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config CANUTILS_LIBCANARD
	bool "libcanard UAVCAN Library"
	default n
	depends on CAN && CAN_EXTID && !DISABLE_POLL
	---help---
		Enable the libcanard UAVCAN library.

if CANUTILS_LIBCANARD

config LIBCANARD_URL
	string "libcanard URL"
	default "https://github.com/UAVCAN/libcanard/archive"
	---help---
		libcanard URL.

config LIBCANARD_VERSION
	string "libcanard Version"
	default "b28bf6ac337e55d49037fd9904d4b951760c4690"
	---help---
		libcanard version.

endif
