#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config SYSTEM_MDIO
	bool "PHY Tool"
	default n
	depends on NETDEV_PHY_IOCTL
	---help---
		Enable the PHY MDIO tool

if SYSTEM_MDIO
endif
