#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_TOUCHSCREEN
	bool "Touchscreen example"
	default n
	---help---
		Enable the touchscreen example

if EXAMPLES_TOUCHSCREEN

config EXAMPLES_TOUCHSCREEN_MINOR
	int "Touchscreen minor device number"
	default 0
	---help---
		The minor device number.  Minor=N corresponds to touchscreen device
		/dev/inputN.  Note this value must with EXAMPLES_TOUCHSCREEN_DEVPATH.
		Default 0.

config EXAMPLES_TOUCHSCREEN_DEVPATH
	string "Touchscreen device path"
	default "/dev/input0"
	---help---
		The path to the touchscreen device.  This must be consistent with
		EXAMPLES_TOUCHSCREEN_MINOR. Default: "/dev/input0"

config EXAMPLES_TOUCHSCREEN_NSAMPLES
	int "Number of samples"
	default 0
	depends on !NSH_BUILTIN_APPS
	---help---
		If NSH_BUILTIN_APPS is defined, then the number of touchscreen
		samples is provided on the command line and this value is ignored.
		Otherwise, this number of samples is collected and the program
		terminates.  Default:  Zero (Samples are collected indefinitely).

config EXAMPLES_TOUCHSCREEN_MOUSE
	bool "Mouse interface"
	default n
	---help---
		The touchscreen test can also be configured to work with a mouse
		driver by setting this option.

config EXAMPLES_TOUCHSCREEN_ARCHINIT
	bool "Architecture-specific initialization"
	default y
	depends on LIB_BOARDCTL
	select BOARDCTL_TSCTEST
	---help---
		By default, the touchscreen example will call boardctl() to
		register the touchscreen device before it attempts to open it.
		Similarly, it will call boardctl() to unregister the touchscreen
		device when it is finished.

		This works well for the typical touchscreen controller but there are
		other devices that cannot be initialized and uninitialized in this
		fashion.  Consider a USB mouse, for example.  The USB mouse will be
		registered when the mouse is connected and unregistered when the
		mouse is disconnected.

		So, in cases like this, there are two options:  (1) provide dummy
		board_tsc_setup() and board_tsc_teardown() just to satisfy the
		linking requirements of boardctl() or, (2) de-select this option.
		If this option is de-selected, then the boardctl() will never be
		called.

endif
