#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config TESTING_SETEST
	bool "Secure Element driver test"
	default n
	depends on DEV_SE05X
	---help---
		Enable the Secure Element driver test

if TESTING_SETEST

config TESTING_SETEST_PROGNAME
	string "Program name"
	default "setest"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config TESTING_SETEST_PRIORITY
	int "setest utility task priority"
	default 100

config TESTING_SETEST_STACKSIZE
	int "setest utility stack size"
	default DEFAULT_TASK_STACKSIZE

endif
