#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_FMSYNTH
	tristate "FM Synthesizer examples"
	default n
	---help---
		Examples for fmsynth library.

if EXAMPLES_FMSYNTH

config EXAMPLES_FMSYNTH_KEYBOARD_PROGNAME
	string "Simple music keyboard Program name"
	default "keyboard"
	---help---
		Command name of this "Simple music keyboard".

config EXAMPLES_FMSYNTH_KEYBOARD_PRIORITY
	int "Simple music keyboard task priority"
	default 100

config EXAMPLES_FMSYNTH_KEYBOARD_STACKSIZE
	int "Simple music keyboard stack size"
	default 2048

config EXAMPLES_FMSYNTH_MMLPLAYER_PROGNAME
	string "MML Player Program name"
	default "mmlplayer"
	---help---
		Command name of this "MML Player".

config EXAMPLES_FMSYNTH_MMLPLAYER_PRIORITY
	int "MML Player task priority"
	default 100

config EXAMPLES_FMSYNTH_MMLPLAYER_STACKSIZE
	int "MML Player stack size"
	default 2048

endif
