#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NETUTILS_WEBCLIENT
	bool "uIP web client"
	default n
	depends on NET_TCP
	select LIBC_NETDB
	select NET_SOCKOPTS
	select NETUTILS_NETLIB_GENERICURLPARSER
	---help---
		Enable support for the uIP web client.

if NETUTILS_WEBCLIENT

config NSH_WGET_USERAGENT
	string "wget User Agent"
	default "NuttX/6.xx.x (; http://www.nuttx.org/)"

config WEBCLIENT_TIMEOUT
	int "Request and receive timeouts"
	default 10

config WEBCLIENT_MAXHTTPLINE
	int "Max http line size"
	default 200

config WEBCLIENT_MAXMIMESIZE
	int "Max mime size"
	default 32

config WEBCLIENT_MAXHOSTNAME
	int "Max host name size"
	default 40

config WEBCLIENT_MAXFILENAME
	int "Max file name size"
	default 100

endif
