#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LIB_MQTT5
	bool "Enable mqtt5"
	default n
	---help---
		A library for accessing mqtt5 client services through C libraries calls in a simple manner.

config UTILS_MQTT5
	tristate "Enable mqtt5 tool"
	depends on LIB_MQTT5
	---help---
		Enable mqtt utility

if UTILS_MQTT5
config UTILS_MQTT5_PRIORITY
	int "mqtt utility priority"
	default 100

config UTILS_MQTT5_STACKSIZE
	int "mqtt utility statcksize"
	default 16384

endif # UTILS_MQTT5
