#
# Copyright (C) 2023 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config VIDEOUTILS_LIBX264
	bool "x264 library"
	default n

if VIDEOUTILS_LIBX264

config UTILS_X264
	tristate "x264 cmd"
	default n

if UTILS_X264

config UTILS_X264_PRIORITY
	int "task priority"
	default 100

config UTILS_X264_STACKSIZE
	int "stack size"
	default 51200

endif # UTILS_X264

endif # VIDEOUTILS_LIBX264
