#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NETUTILS_DHCP6C
    bool "DHCPv6 client"
    default n
    depends on NET_IPv6
    depends on NET_UDP && NET_UDP_CHECKSUMS

if NETUTILS_DHCP6C

config NETUTILS_DHCP6C_REQUEST_TIMEOUT
    int "Default single request timeout in second"
    default 6

endif
