CMDLINE
INSTALL
Makefile.in
Make.dep
TAGS
aclocal.m4
autom4te.cache
autotools
bin
config.hin
config.log
config.status
configure
lib
obj
rpm.spec
stamp-h
stamp-h.in
stamp-h1
tags
\#*\#
DOOM*.png
HTIC*.png
HEXEN*.png
STRIFE*.png
DOOM*.pcx
HTIC*.pcx
HEXEN*.pcx
STRIFE*.pcx

# CMake-specific ignores
/.vs
/build*
/CMakeSettings.json
/out

# These are the default patterns globally ignored by Subversion:
.depend
.built
*.o
*.gcno
*.gcda
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_store

# Ignore GNU Global tags and html files
GPATH
GRTAGS
GTAGS
/HTML/

# VSCode settings

/.vscode/

# clangd settings
/.cache/clangd
compile_commands.json
