#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_MM
	tristate "Memory management example"
	default n
	---help---
		Enable the memory management example

if EXAMPLES_MM
endif
