#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config NETUTILS_DNSCLIENT
	bool "DNS Name resolution"
	default n
	depends on NET && NET_UDP
	---help---
		Enable support for the name resolution.

if NETUTILS_DNSCLIENT

config NETUTILS_DNSCLIENT_ENTRIES
	int "Number of DNS resolver entries"
	default 8
	---help---
		Number of DNS resolver entries.  Default: 8

config NETUTILS_DNSCLIENT_MAXRESPONSE
	int "Max response size"
	default 96
	---help---
		This setting determines the maximum size of response message that
		can be received by the DNS resolver.  The default is 96 but may
		need to be larger on enterprise networks (perhaps 176).

endif # NETUTILS_DNSCLIENT
