#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_HELLO_WASM
	tristate "\"Hello, WebAssembly!\" example"
	default n
	---help---
		Enable the \"Hello, WebAssembly!\" example

if EXAMPLES_HELLO_WASM

config EXAMPLES_HELLO_WASM_PROGNAME
	string "Program name"
	default "hello_wasm"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_HELLO_WASM__PRIORITY
	int "Hello wasm task priority"
	default 100

config EXAMPLES_HELLO_WASM_STACKSIZE
	int "Hello wasm stack size"
	default DEFAULT_TASK_STACKSIZE

config EXAMPLES_HELLO_WASM_BUILD_WASM
	bool "Build as WebAssembly module"
	default y
	---help---
		Build the WebAssembly binary from the C source code.

config EXAMPLES_HELLO_WASM_BUILD_NATIVE
	bool "Build as native program"
	default n
	---help---
		Build the native binary from the C source code.

endif
