#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config TESTS_UNITY_RAMTEST
	bool "Automated RAM test"
	default n
	---help---
		Enable automated RAM test

