#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig GRAPHICS_UGLY
	bool "uGLy - OpenGL ES 1.0"
	default n
	depends on VIDEO_FB
	---help---
		Enable support for the uGLy GUI library.

if GRAPHICS_UGLY

config GRAPHICS_UGLY_FBDEV
	string "Framebuffer device"
	default "/dev/fb0"
	---help---
		Framebuffer device that uGLy renders to.

config GRAPHICS_UGLY_XRES
	int "Render buffer width"
	default 320
	---help---
		Width in pixels of the buffer uGLy renders into.  The buffer is
		centered on the display and clipped if the display is smaller.

config GRAPHICS_UGLY_YRES
	int "Render buffer height"
	default 240
	---help---
		Height in pixels of the buffer uGLy renders into.

endif # GRAPHICS_UGLY
