#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LTDC
	bool "STM32 LTDC framebuffer example"
	default n
	depends on STM32_LTDC
	---help---
		Enable the LTDC example
