#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LUA_LUV_MODULE
	bool "Lua Luv module"
	default n
	depends on INTERPRETERS_LUA && LIBUV
	depends on LIBC_EXECFUNCS
	depends on LIBC_NETDB
	depends on NET
	depends on NETDEV_IFINDEX
	depends on NET_SOCKOPTS
	depends on NET_TCP
	depends on NET_UDP
	depends on PSEUDOFS_SOFTLINKS
	depends on SCHED_HAVE_PARENT
	---help---
		Bare libuv bindings for Lua

if LUA_LUV_MODULE

config LUA_LUV_VERSION
	string "Luv version"
	default "1.44.2-1"
	---help---
		Luv release version to fetch and build.

endif # LUA_LUV_MODULE
