#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LUA_LUV_MODULE
	bool "Lua Luv module"
	default n
	depends on INTERPRETERS_LUA && LIBUV
	select LIBC_EXECFUNCS
	select LIBC_NETDB
	select NET
	select NETDEV_IFINDEX
	select NET_SOCKOPTS
	select NET_TCP
	select NET_UDP
	select PSEUDOFS_SOFTLINKS
	select SCHED_ATEXIT
	select SCHED_HAVE_PARENT
	---help---
		Bare libuv bindings for Lua

if LUA_LUV_MODULE

config LUA_LUV_VERSION
	string "Luv version"
	default "1.44.2-1"
	---help---
		Luv release version to fetch and build.

endif # LUA_LUV_MODULE
