#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

source "$APPSDIR/system/free/Kconfig"
source "$APPSDIR/system/cle/Kconfig"
source "$APPSDIR/system/cu/Kconfig"
source "$APPSDIR/system/install/Kconfig"
source "$APPSDIR/system/flash_eraseall/Kconfig"
source "$APPSDIR/system/hex2bin/Kconfig"
source "$APPSDIR/system/i2c/Kconfig"
source "$APPSDIR/system/inifile/Kconfig"
source "$APPSDIR/system/nxplayer/Kconfig"
source "$APPSDIR/system/ramtest/Kconfig"
source "$APPSDIR/system/readline/Kconfig"
source "$APPSDIR/system/prun/Kconfig"
source "$APPSDIR/system/mdio/Kconfig"
source "$APPSDIR/system/poweroff/Kconfig"
source "$APPSDIR/system/ramtron/Kconfig"
source "$APPSDIR/system/sdcard/Kconfig"
source "$APPSDIR/system/sudoku/Kconfig"
source "$APPSDIR/system/sysinfo/Kconfig"
source "$APPSDIR/system/lm75/Kconfig"
source "$APPSDIR/system/vi/Kconfig"
source "$APPSDIR/system/stackmonitor/Kconfig"
source "$APPSDIR/system/cdcacm/Kconfig"
source "$APPSDIR/system/composite/Kconfig"
source "$APPSDIR/system/usbmsc/Kconfig"
source "$APPSDIR/system/usbmonitor/Kconfig"
source "$APPSDIR/system/zmodem/Kconfig"
source "$APPSDIR/system/zoneinfo/Kconfig"

