#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SYSTEM_PTPD
	tristate "PTP daemon commands"
	default n
	select NETUTILS_PTPD
	---help---
		Enable 'ptpd' command to start the PTP daemon

if SYSTEM_PTPD

config SYSTEM_PTPD_PRIORITY
	int "PTPD utility command task priority"
	default 100

config SYSTEM_PTPD_STACKSIZE
	int "PTPD utility command stack size"
	default DEFAULT_TASK_STACKSIZE

endif # SYSTEM_PTPD
