#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_SERIALBLASTER
    bool "Serial Blaster example"
    default n
    ---help---
        Enable the serial blaster example

if EXAMPLES_SERIALBLASTER
endif
