#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config OPENSSL_MBEDTLS_WRAPPER
	depends on CRYPTO_MBEDTLS
	bool "openssl mbedtls wrapper"
	default n
