#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config SYSTEM_ZONEINFO
	bool "TZ database"
	default n
	depends on LIBC_LOCALTIME
	---help---
		Build the TZ/Olson database.

if SYSTEM_ZONEINFO

config SYSTEM_ZONEINFO_ROMFS
	bool "Build ROMFS filesystem"
	default n
	depends on FS_ROMFS
	---help---
		Build a mountable ROMFS filesystem containing the TZ database

endif # SYSTEM_ZONEINFO
