#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_NXFLAT
	bool "NXFLAT example"
	default n
	depends on NXFLAT && BUILD_FLAT
	---help---
		Enable the NXFLAT example

if EXAMPLES_NXFLAT
endif
