#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LELYMASTER
	tristate "Lely CANopen master example"
	default n
	depends on CANUTILS_LELYCANOPEN && CANUTILS_LELYCANOPEN_SDEV
	depends on CANUTILS_LELYCANOPEN_TIME && CANUTILS_LELYCANOPEN_OBJUPLOAD
	depends on CANUTILS_LELYCANOPEN_MASTER
	---help---
		Enable the Lely CANopen master (comaster) example application.

if EXAMPLES_LELYMASTER

choice
	prompt "CAN backend"
	default EXAMPLES_LELYMASTER_CHARDEV

config EXAMPLES_LELYMASTER_CHARDEV
	bool "CAN character driver"
	depends on CAN

config EXAMPLES_LELYMASTER_SOCKET
	bool "SocketCAN"
	depends on NET_CAN
	select NETUTILS_NETLIB

endchoice

config EXAMPLES_LELYMASTER_DEVPATH
	string "CAN character device path"
	default "/dev/can0"
	depends on EXAMPLES_LELYMASTER_CHARDEV

config EXAMPLES_LELYMASTER_INTF
	string "SocketCAN interface"
	default "can0"
	depends on EXAMPLES_LELYMASTER_SOCKET

config EXAMPLES_LELYMASTER_PRIORITY
	int "Task priority"
	default 100

config EXAMPLES_LELYMASTER_STACKSIZE
	int "Stack size"
	default DEFAULT_TASK_STACKSIZE

endif
