#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_DHTXX
	bool  "Dhtxx sensor  example"
	default n
	---help---
		Enable the dhtxx sensor example

if EXAMPLES_DHTXX

config EXAMPLES_DHTXX_PROGNAME
	string "Program name"
	default "dhtxx"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_DHTXX_PRIORITY
	int "Dhtxx task priority"
	default 100

config EXAMPLES_DHTXX_STACKSIZE
	int "Dhtxx stack size"
	default 2048

endif
