#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_PPPD
	tristate "pppd client example"
	default n
	---help---
		Enable the pppd client example

if EXAMPLES_PPPD

endif
