#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig SYSTEM_FASTBOOTD
	bool "fastbootd"
	default n
	depends on USBFASTBOOT
	---help---
		support usb fastboot function.

if SYSTEM_FASTBOOTD

config SYSTEM_FASTBOOTD_PRIORITY
	int "USB-fastboot task priority"
	default 100

config SYSTEM_FASTBOOTD_STACKSIZE
	int "USB-fastboot stack size"
	default DEFAULT_TASK_STACKSIZE

config SYSTEM_FASTBOOTD_DOWNLOAD_MAX
	int "USB-fastboot download buffer size"
	default 40960

endif # SYSTEM_FASTBOOTD
