#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SYSTEM_UNIQUEID
       tristate "'uniqueid' command"
       default n
       depends on BOARDCTL_UNIQUEID
       ---help---
               Enable the uniqueid tool

if SYSTEM_UNIQUEID
endif
