#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig SYSTEM_SENSORSCOPE
	bool "NxScope sensors stream app"
	default n
	depends on LOGGING_NXSCOPE
	select LOGGING_NXSCOPE_INTF_SERIAL
	select LOGGING_NXSCOPE_PROTO_SER

if SYSTEM_SENSORSCOPE

config SYSTEM_SENSORSCOPE_PROGNAME
	string "Program name"
	default "sensorscope"

config SYSTEM_SENSORSCOPE_PRIORITY
	int "nxscope task priority"
	default 100

config SYSTEM_SENSORSCOPE_STACKSIZE
	int "nxscope stack size"
	default DEFAULT_TASK_STACKSIZE

config SYSTEM_SENSORSCOPE_SERIAL_PATH
	string "nxscope serial path"
	default "/dev/ttyUSB0"

config SYSTEM_SENSORSCOPE_SERIAL_BAUD
	int "nxscope serial baud"
	default 115200
	---help---
		Ignored if set to 0 (for example for RTT interface)

config SYSTEM_SENSORSCOPE_CDCACM
	bool "nxscope CDCACM device support"
	depends on CDCACM
	default n

config SYSTEM_SENSORSCOPE_FORCE_ENABLE
	bool "nxscope force enable"
	default n

config SYSTEM_SENSORSCOPE_STREAMBUF_LEN
	int "nxscope stream buffer length"
	default 512

config SYSTEM_SENSORSCOPE_RXBUF_LEN
	int "nxscope RX buffer length"
	default 32

config SYSTEM_SENSORSCOPE_RX_PADDING
	int "nxscope RX padding"
	default 0

config SYSTEM_SENSORSCOPE_MAIN_INTERVAL
	int "nxscope main interval (microseconds)"
	default 100000
	---help---
		This value is responsible for the frequency at which stream
		frames will be sent and incoming frames will be received.

config SYSTEM_SENSORSCOPE_FETCH_INTERVAL
	int "nxscope sensor fetch interval (microseconds)"
	default 1000
	---help---
		This value is responsible for the frequency at which the sensors
		are read

endif # SYSTEM_SENSORSCOPE
