#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if GRAPHICS_TRAVELER
comment "Color configuration"

choice
	prompt "Color format"
	default GRAPHICS_TRAVELER_RGB16_565

config GRAPHICS_TRAVELER_RGB16_565
	bool "RGB16 565"

config GRAPHICS_TRAVELER_RGB32_888
	bool "RGB32 888 (no transparency)"

endchoice # Color format

config GRAPHICS_TRAVELER_DEFPATH
	string "Default path to world data"
	default "/mnt/world"
	---help---
		This is the default path to the directory where the world file data
		can be found.  The default world file name is transfrom.wld (not
		configurable).


config GRAPHICS_TRAVELER_PALRANGES
	bool "Use ranged palette"
	default y
	---help---
		If this option is false, then the whole palette table is loaded from
		the graphics file.  Otherwise, the palette table will be calculated
		from a range table.  Default y, this is a good thing.

comment "Input device selection"

config GRAPHICS_TRAVELER_JOYSTICK
	bool
	default n

choice
	prompt "Input device"
	default GRAPHICS_TRAVELER_AJOYSTICK if CONFIG_AJOYSTICK
	default GRAPHICS_TRAVELER_DJOYSTICK if CONFIG_DJOYSTICK && !CONFIG_AJOYSTICK
	default GRAPHICS_TRAVELER_NX_XYINPUT if CONFIG_NX_XYINPUT && !CONFIG_AJOYSTICK && !CONFIG_DJOYSTICK

config GRAPHICS_TRAVELER_AJOYSTICK
	bool "Analog joystick"
	depends on CONFIG_AJOYSTICK
	select GRAPHICS_TRAVELER_JOYSTICK

config GRAPHICS_TRAVELER_DJOYSTICK
	bool "Discrete joystick"
	depends on CONFIG_DJOYSTICK
	select GRAPHICS_TRAVELER_JOYSTICK

config GRAPHICS_TRAVELER_NX_XYINPUT
	bool "NX X/Y input"
	depends on CONFIG_NX_XYINPUT

endchoice # Input device

config GRAPHICS_TRAVELER_JOYDEV
	string "Joystick device name"
	default "/dev/ajoy0" if GRAPHICS_TRAVELER_AJOYSTICK
	default "/dev/djoy0" if GRAPHICS_TRAVELER_DJOYSTICK
	depends on GRAPHICS_TRAVELER_JOYSTICK

comment "Debug options"

config GRAPHICS_TRAVELER_ROMFSDEMO
	bool "Build ROMFS demo world"
	default y
	depends on FS_ROMFS
	---help---
		The traveller code will do nothing unless you also provide a world
		data set for it to work on.  The world/ sub-directory contains a
		demo world suitable for testing.  If this option is selected, then
		the demo world is build as a mountable ROMFS file system.  This new
		function is then exported that can be used to mount the demo world:

			int trv_mount_world(int minor, FAR const char *mountpoint)

		This function must be called somewhere in your board-specific start-
		up logic in order to mount the world at 'mountpoint'

config GRAPHICS_TRAVELER_PERFMON
	bool "Performance monitor"
	default y
	---help---
		Enable or disable performance monitoring instrumentation and output.

config GRAPHICS_TRAVELER_DEBUG_LEVEL
	int "Debug output level"
	default 0
	range 0 3
	---help---
		DEBUG_LEVEL == 3 turns off sound and video and enables verbose debug
			messages on stdout.
		DEBUG_LEVEL == 2 turns off sound and video and enables normal debug
			output
		DEBUG_LEVEL == 1 turns off sound and enables normal debug output
		OTHERWISE, all debugging features are disabled.

endif # GRAPHICS_TRAVELER
