#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config NETUTILS_DHCPC
	bool "DHCP client"
	default n
	depends on NET && NET_UDP && NET_BROADCAST
	---help---
		Enable support for the DHCP client.

if NETUTILS_DHCPC
endif
