#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config FSUTILS_MKFATFS
	bool "mkfatfs utility"
	default y
	depends on FS_FAT && !DISABLE_PSEUDOFS_OPERATIONS
	select BCH
	---help---
		Enables support for the mkfatfs utility

config MKFATFS_BUFFER_ALIGNMENT
	int "Buffer alignment"
	default 0
	depends on FSUTILS_MKFATFS
	---help---
		Enables alignment of the buffers used by the mkfatfs application
		to N bytes. This may be needed for systems with cache or buffer
		alignment constraints.
