config NIMBLE
  bool "Apache nimBLE (BLE host-layer)"
  default n
  depends on !WIRELESS_BLUETOOTH_HOST
  ---help---
    Enable Apache nimBLE Bluetooth Low Energy
    host-layer stack.

if NIMBLE
  config NIMBLE_REF
  string "Version"
  default "master"
  ---help---
    Git ref name to use when downloading from nimBLE repo
endif
