config NIMBLE
	bool "Apache nimBLE (BLE host-layer)"
	default n
	depends on !WIRELESS_BLUETOOTH_HOST
	---help---
		Enable Apache nimBLE Bluetooth Low Energy
		host-layer stack.

if NIMBLE
config NIMBLE_STACKSIZE
	int "nimble stack size"
	default DEFAULT_TASK_STACKSIZE

config NIMBLE_REF
	string "Version"
	default "17a8e61fdec48d579df3bc5af59a9cff5edee674"
	---help---
		Git ref name to use when downloading from nimBLE repo
endif
