#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SYSTEM_TELNETD
	tristate "Telnet daemon application"
	default !DEFAULT_SMALL
	depends on NETUTILS_TELNETD
	---help---
		Enable the Telnet daemon application

if SYSTEM_TELNETD

config SYSTEM_TELNETD_PROGNAME
	string "Telnetd program name"
	default "telnetd"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config SYSTEM_TELNETD_PRIORITY
	int "Telnetd task priority"
	default 100

config SYSTEM_TELNETD_STACKSIZE
	int "Telnetd task stack size"
	default DEFAULT_TASK_STACKSIZE

config SYSTEM_TELNETD_PORT
	int "Telnetd port number"
	default 23
	---help---
		The telnet daemon will listen on this TCP port number for connections.
		Default: 23

config SYSTEM_TELNETD_SESSION_PRIORITY
	int "Telnetd session task priority"
	default 100

config SYSTEM_TELNETD_SESSION_STACKSIZE
	int "Telnetd session task stack size"
	default SYSTEM_NSH_STACKSIZE if SYSTEM_NSH
	default DEFAULT_TASK_STACKSIZE

endif # SYSTEM_TELNETD
