#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config GRAPHICS_JPGRESIZETOOL
	bool "JPGResizeTool"
	default n
	depends on libjpeg
	---help---
  	Libjpeg JPEG resizer
