#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LORAWAN_TEST
	tristate "LoRaWAN Test App"
	default n
	---help---
		Enable the LoRaWAN Test App

if EXAMPLES_LORAWAN_TEST

config EXAMPLES_LORAWAN_TEST_PROGNAME
	string "Program name"
	default "lorawan_test"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_LORAWAN_TEST_PRIORITY
	int "LoRaWAN Test task priority"
	default 100

config EXAMPLES_LORAWAN_TEST_STACKSIZE
	int "LoRaWAN Test stack size"
	default DEFAULT_TASK_STACKSIZE

endif
