#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_SMF
  tristate "State Machine Framework PSICC2 demo (HSM)"
  default n
  depends on NSH_BUILTIN_APPS
  depends on SYSTEM_SMF
  depends on SYSTEM_SMF_ANCESTOR_SUPPORT
  depends on SYSTEM_SMF_INITIAL_TRANSITION

if EXAMPLES_SMF

config EXAMPLES_SMF_PROGNAME
  string "Program name"
  default "hsm_psicc2"

config EXAMPLES_SMF_PRIORITY
  int "Priority"
  default 100

config EXAMPLES_SMF_STACKSIZE
  int "Stack size"
  default 2048

config EXAMPLES_SMF_EVENT_QUEUE_SIZE
  int "Event queue size"
  default 10

config EXAMPLES_SMF_MQ_NAME
  string "Message queue name"
  default "/hsm_psicc2_mq"

endif

