#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_SERIALRX
	bool "Serial Rx example"
	default n
	---help---
		Enable the serial RX example

if EXAMPLES_SERIALRX

config EXAMPLES_SERIALRX_STACKSIZE
	int "Serial Rx stack size"
	default 2048

config EXAMPLES_SERIALRX_PRIORITY
	int "Serial Rx task priority"
	default 50

endif
