#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_PWFB
	tristate "NX Per-Window Framebuffer Example"
	default n
	depends on NX
	select LIB_BOARDCTL
	select NX_RAMBACKED
	---help---
		Enable the NX per-window framebuffer example

if EXAMPLES_PWFB

config EXAMPLES_PWFB_DEFAULT_COLORS
	bool "Use Default Colors"
	default y

if !EXAMPLES_PWFB_DEFAULT_COLORS

config EXAMPLES_PWFB_BGCOLOR
	hex "Background Color"
	---help---
		The color of the background.  Default depends on config EXAMPLES_PWFB_BPP.

config EXAMPLES_PWFB_COLOR1
	hex "Color of Window 1"
	---help---
		The color of window 1. Default depends on config EXAMPLES_PWFB_BPP.

config EXAMPLES_PWFB_COLOR2
	hex "Color of Window 2"
	---help---
		The color of window 2. Default depends on config EXAMPLES_PWFB_BPP.

config EXAMPLES_PWFB_COLOR3
	hex "Color of Window 3"
	---help---
		The color of window 3. Default depends on config EXAMPLES_PWFB_BPP.

config EXAMPLES_PWFB_FONTCOLOR
	hex "Font Color"
	---help---
		The color of the fonts. Default depends on config EXAMPLES_PWFB_BPP.

endif

config EXAMPLES_PWFB_DEFAULT_FONT
	bool "Use Default Font"
	default y

config EXAMPLES_PWFB_FONTID
	int "Font ID"
	depends on !EXAMPLES_PWFB_DEFAULT_FONT
	---help---
		Selects the font (see font ID numbers in include/nuttx/nx/nxfonts.h)

config EXAMPLES_PWFB_BPP
	int "Bits-Per-Pixel"
	default 32
	---help---
		Pixels per pixel to use.  Valid options include 2, 4, 8, 16, 24,
		and 32.  Default is 32.

config EXAMPLES_PWFB_VERBOSE
	bool "Verbose output"
	default n

comment "NX Server Options"

config EXAMPLES_PWFB_STACKSIZE
	int "NX Server Stack Size"
	default 2048
	---help---
		The stacksize to use when creating the NX server.  Default 2048

config EXAMPLES_PWFB_CLIENTPRIO
	int "Client Priority"
	default 100
	---help---
		The client priority.  Default: 100

config EXAMPLES_PWFB_SERVERPRIO
	int "Server Priority"
	default 120
	---help---
		The server priority.  Default: 120

config EXAMPLES_PWFB_LISTENERPRIO
	int "Listener Priority"
	default 80
	---help---
		The priority of the event listener thread. Default 80.

endif
